<h1>Hello, world</h1>
<ul>Restaurants</ul>
<% @restaurants.each do |restaurant| %>
  <li><%= restaurant.name %>: <%= restaurant.upvotes.count %> upvotes, <%= restaurant.downvotes.count %> downvotes</li>
<% end %>
